<head>
  <title>siteace</title>
</head>
<body>
</body>

<template name="ApplicationLayout">
  {{> yield "navbar"}}
  {{> yield "main"}}
</template>

<template name="navbar">
  <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Site Ace</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
	    </div>
      <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" id="search" placeholder="Reactive Search" value={{sessionSearchText}}>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons }}
        </ul>
      </div>
	  </div>
	</nav>
</template>

<template name="main">
  <div class="container">
    {{#if currentUser}}
      <div class="panel panel-default">
        {{> website_form}}
      </div>
      <div class="panel panel-default">
        <label class="label-control">Recommendations based on your upvotes and comments:</label>
        {{> website_recommendation}}
      </div>
    {{/if}}
    <div class="panel panel-default">
      <label class="label-control">Websites:</label>
      {{> website_list}}
    </div>
	</div>
</template>

<template name="website_form">
	<a class="btn btn-default js-toggle-website-form" href="#">
  	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</a>
  <div id="website_form" class="hidden_div">
		<form class="js-save-website-form">
		  <div class="form-group">
		    <label for="url">Site address</label>
		    <input type="text" class="form-control js-text-input" id="url" placeholder="http://www.mysite.com">
		  </div>
		  <div class="form-group">
		    <label for="title">Title</label>
		    <input type="text" class="form-control js-text-input" id="title" placeholder="Mysite">
		  </div>
		  <div class="form-group">
		    <label for="description">Description</label>
		    <input type="text" class="form-control js-text-input" id="description" placeholder="I found this site really useful for ...">
		  </div>
      <span class="text-danger">{{errorMessage}}</span>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
		</form>
	</div>
</template>

<!-- template that displays several website items -->
<template name="website_list">
  <ol>
  {{search}}
  {{#each websites}}
    {{>website_item}}
  {{/each}}
  </ol>
</template>

<!-- template that displays individual website entries -->
<template name="website_item">
  <li>
    <a href="{{url}}">{{title}}</a>
    <p>
      {{description}}
    </p>
    <p class="js-extra-info">
      Created on: {{createdOn}}
      <br/>Up votes: {{getUpVote}}
      <br/>Down votes: {{getDownVote}}
      <br/>Comments: {{getCommentCount}}
    </p>
    {{#if currentUser}}
      <a href="#" class="btn btn-default js-upvote">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
      <a href="#" class="btn btn-default js-downvote">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </a>
    {{/if}}
    <a href="/site/{{_id}}" class="btn btn-link">Details</a>
    {{#if isOwner}}
      <button type="button" class="btn btn-warning" id="remove">Remove</button>
    {{/if}}
    <p><br/></p>
  </li>
</template>

<template name="website_details">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="{{url}}">{{title}}</a>
      </div>
      <div class="panel-body">
        <p>
          {{description}}
        </p>
        <p class="js-extra-info">
          Created on: {{createdOn}}
          <br/>Up votes: {{getUpVote}}
          <br/>Down votes: {{getDownVote}}
        </p>
        <div class="form-group">
          <button class="btn btn-default js-go-back">Go back</button>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Comments
      </div>
      {{#if currentUser}}
        <div class="panel-body">
          <a class="btn btn-default js-toggle-comment-form" href="#">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
          <div id="comment_form" class="hidden_div">
            <form class="js-add-comment">
              <div class="form-group">
                <label for="comment">Leave a comment</label>
                <textarea class="form-control" rows="3" id="comment" placeholder="Add your comment here"></textarea>
              </div>
              <span class="text-danger">{{errorMessage}}</span>
              <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </form>
          </div>
        </div>
      {{/if}}
      <div class="panel-body">
        {{#each comments}}
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="js-bold-text">{{userName}}</div>
              @ {{createdOn}}
            </div>
            <div class="panel-body">
              {{comment}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="website_recommendation">
  <div class="row">
    {{search}}
    {{#each websites}}
    <div class="col-md-3 col-xs-1">
      <div class="panel panel-default">
        <p><a href="{{url}}">{{title}}</a></p>
        <p>{{description}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</template>
